@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-cm: #adb0f4;
    --color-td: #e9cca0;
    --color-tp: #c4e4aa;
    --color-ds: #f5d45e;
    --color-au: #e27ef2;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }
}
