.react-datepicker {
  font-size: 0.9rem;
  border-radius: 1.4rem;
  background-color: #fcfcfc;
}

.dark .react-datepicker {
  background-color: #0e051d;
}

.react-datepicker__header {
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem;
  border-bottom: 1px solid #b7b3be;
  background-color: #f6f1fa;
}

.dark .react-datepicker__header {
  border-bottom: 1px solid #49454f;
  background-color: #0e051d;
}

.dark .react-datepicker__current-month {
  color: #fcfcfc;
}

.dark .react-datepicker__day-name {
  color: #fcfcfc;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 1.4rem;
}

.react-datepicker__navigation {
  top: 8px;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
  border-color: #49454f;
}

.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0;
  border-color: #49454f;
  height: 10px;
  width: 10px;
}

.react-datepicker__navigation-icon--previous::before {
  right: -10px;
}

.react-datepicker__navigation-icon--next::before {
  left: -10px;
}

.dark .react-datepicker__navigation-icon::before {
  border-color: #fcfcfc;
}

.dark
  .react-datepicker__navigation:hover
  .react-datepicker__navigation-icon::before {
  border-color: #fcfcfc;
}
.react-datepicker__navigation-icon::before .react-datepicker__day--selected {
  background-color: #8a47cd;
  border-radius: 50%;
}

.react-datepicker__day--selected:hover {
  background-color: #8a47cd;
  border-radius: 50%;
}

.react-datepicker__day {
  margin: 0.2rem;
  line-height: 1.8rem;
  width: 1.8rem;
}

.dark .react-datepicker__day {
  color: #fcfcfc;
}

.react-datepicker__day:hover {
  border-radius: 50%;
}

.dark .react-datepicker__day:hover {
  background-color: #2d243d;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 50%;
  background-color: transparent;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #f0f0f0;
}
